.ShopContainer{
    float: left;
    width: 60%;
    height: auto;
}
.Shop{
    width: 50%;
    height: auto;
}

.FoodContainer{
    display: block;
    float: left;
    width: 45%;
}

.AdContainer{
    display: block;
    float: right;
    width: 45%;
}

.FoodInput, .AdInput{
    float: left;
    width: 45%;
}

.Order {
    display: block;
    float: left;
}