.FoodContainer {
  display: block;
  float: left;
  width: 33%;
  height: 100px;
  margin-left: 10px;
}

.DrinkContainer {
  display: block;
  float: left;
  width: 33%;
  height: 100px;
}

.AdContainer {
  display: block;
  float: left;
  width: 30%;
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
}

.Order {
  display: block;
  float: left;
  margin-top: 50px;
}
