body{
  display: flex;
}

.FoodContainer {
  display: block;
  float: left;
  width: 20%;
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
}

.DrinkContainer {
  display: block;
  float: left;
  width: 20%;
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
}

.AdContainer {
  display: block;
  float: left;
  width: 20%;
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
}

.LocationContainer {
  display: block;
  float: left;
  width: 20%;
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
}

.LocationInput {
  display: block;
  width: auto;
  max-width: 80px;
  flex: 1;
}

.btnRemove {
  margin-left: 5px;
}

.Order {
  display: block;
  float: left;
  width: 20%;
  margin-top: 10px;
  margin-right: 10px;
  height: fit-content;
}
